<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Bike Shop</title>
</head>
<body>
    <center>
    <div class = "header">
        <img src="../images/logo.png" id="logo">
        <h1>Bike Shop</h1>
    </div>
    <center>
        <div class = "menu_box" action="localhost:5000">
            <div class = "bike_card" action="localhost:5000">
                <p>Bike 1</p>
                <image class="bike_pic" src = "../images/bike1.jpg"></image>
                <button name="bike1" type="submit">Purchase</button>
            </div>
            
            <div class = "bike_card">
                <p>Bike 2</p>
                <image class="bike_pic" src = "../images/bike2.jpg"></image>
                <button name="bike2" type="submit">Purchase</button>
            </div>

            <div class = "bike_card">
                <p>Bike 3</p>
                <image class="bike_pic" src = "../images/bike3.jpg"></image>
                <button name="bike3" type="submit">Purchase</button>
            </div>
                
            <div class = "bike_card">
                <p>Bike 4</p>
                <image class="bike_pic" src = "../images/bike4.jpg"></image>
                <button name="bike4" type="submit">Purchase</button>
            </div>

            <div class = "bike_card">
                <p>Bike 5</p>
                <image class="bike_pic" src = "../images/bike5.jpg"></image>
                <button name="bike5" type="submit">Purchase</button>
            </div>

            <div class = "bike_card">
                <p>Bike 6</p>
                <image class="bike_pic" src = "../images/bike6.jpg"></image>
                <button name="bike6" type="submit">Purchase</button>
            </div>

            <div class = "bike_card">
                <p>Bike 7</p>
                <image class="bike_pic" src = "../images/bike7.jpg"></image>
                <button name="bike7" type="submit">Purchase</button>
            </div>

            <div class = "bike_card">
                <p>Bike 8</p>
                <image class="bike_pic" src = "../images/bike8.jpg"></image>
                <button name="bike8" type="submit">Purchase</button>
            </div>

            <div class = "bike_card">
                <p>Bike 9</p>
                <image class="bike_pic" src = "../images/bike9.jpg"></image>
                <button name="bike9" type="submit">Purchase</button>
            </div>

            <div class = "bike_card">
                <p>Bike 10</p>
                <image class="bike_pic" src = "../images/bike10.jpg"></image>
                <button name="bike10" type="submit">Purchase</button>
            </div>

        </div class="menu_box">
</body>
</html