<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Bike Shop</title>
</head>
<body>
    <center>
    <div class = "header">
        <img src="{{url_for('static', filename='images/logo.png')}}" id="logo">
        <h1>Bike Shop</h1>
    </div>
    <center>
        <div class = "menu_box">
            <div class = "bike_card">
                <h2 name="bike1">Bike 1</h2>
                <p name="price" value="$100">$100</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike1.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike1" value="bike1" type="submit">Purchase</button>
                </form>
            </div>
            
            <div class = "bike_card">
                <h2 name="bike2">Bike 2</h2>
                <p name="price" value="$200">$200</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike2.jpg')}}"></image>
                <form action="{{ url_for('shop')}}" method="post">
                    <button name="bike2" value="bike2" type="submit">Purchase</button>
                </form>
            </div>

            <div class = "bike_card">
                <h2 name="bike3">Bike 3</h2>
                <p name="price" value="$300">$300</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike3.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike3" value="bike3" type="submit">Purchase</button>
                </form>
            </div>
                
            <div class = "bike_card">
                <h2 name="bike4">Bike 4</h2>
                <p name="price" value="$400">$400</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike4.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike4" value="bike4" type="submit">Purchase</button>
                </form>
            </div>

            <div class = "bike_card">
                <h2 name="bike5">Bike 5</h2>
                <p name="price" value="$500">$500</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike5.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike5" value="bike5" type="submit">Purchase</button>
                </form>
            </div>

            <div class = "bike_card">
                <h2 name="bike6">Bike 6</h2>
                <p name="price" value="$600">$600</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike6.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike6" value="bike6" type="submit">Purchase</button>
                </form>
            </div>

            <div class = "bike_card">
                <h2 name="bike7">Bike 7</h2>
                <p name="price" value="$700">$700</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike7.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike7" value="bike7" type="submit">Purchase</button>
                </form>
            </div>

            <div class = "bike_card">
                <h2 name="bike8">Bike 8</h2>
                <p name="price" value="$800">$800</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike8.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike8" value="bike8" type="submit">Purchase</button>
                </form>
            </div>

            <div class = "bike_card">
                <h2 name="bike9">Bike 9</h2>
                <p name="price" value="$900">$900</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike9.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike9" value="bike9" type="submit">Purchase</button>
                </form>
            </div>

            <div class = "bike_card">
                <h2 name="bike10">Bike 10</h2>
                <p name="price" value="$1000">$1000</p>
                <image class="bike_pic" src = "{{url_for('static', filename='images/bike10.jpg')}}"></image>
                <form method="post" action="{{ url_for('shop')}}">
                    <button name="bike10" value="bike10" type="submit">Purchase</button>
                </form>
            </div>

        </div class="menu_box">
</body>
</html