<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Sign Up</title>
</head>
<body>
    <center>
    <div class = "header">
        <img src="../images/logo.png" id="logo">
        <h1>Bike Shop</h1>
    </div>
    <center>
    
    <div class="back">
        <h1>Welcome</h1>
        <form action="localhost:5000" method="post" name="signupForm">
            <p class="inputLabel">Enter Name:</p>
            <input name="name" type="text" placeholder="John Dough" required/>
            <p class="inputLabel">Enter Email:</p>
            <input name="email" type="text" placeholder="email@example.com" required/>
            <p class="inputLabel">Enter Username:</p>
            <input name="username" type="text" placeholder="Username_1" required/>
            <p class="inputLabel">Create Password:</p>
            <input name="password" type="text" placeholder="P455word!" required/>
            <br/>
            <button type="submit" id="submit">Sign Up</button>
            </div>
            <br/>
            <p>Already have an account?</p>
            <a href="login.html">Login Here</a>
        </form>
        <br /><br />
        <p style="font-weight: lighter; font-style: italic">
            © The Bike Shop
        </p>
    </div>
</body>
</html>